.btnProvinces {
    position: absolute;
    /* top: 35%;  */
    left: 25%;   
}

.btnFetch
{
    position: absolute;
    top: 65%; /* Position from the top */
    left: 35%; /* Position from the left */
}
.details
{
    position: absolute;
    top: 35%; /* Position from the top */
    left: 35%; /* Position from the left */
}